@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Mulish:wght@600&family=Oswald:wght@400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.gg{
    height: 300px;
    background-color: green;
}
body{
    height: 1990px;
    font-family: 'Crimson Text', serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Oswald', sans-serif;
    
}
h1, h2, h3, h4{
    font-family: 'Oswald', sans-serif;
   
}
h5,h6{
    font-family: 'Crimson Text', serif;
    color: #878787;
    font-size:21px ; font-weight:400 ; line-height:25px ;
}
p{
    font-family: 'Mulish', sans-serif;
    color: #878787;
}
.banner{
    
    .bnrab{height: 350px; width: 660px; position: relative; top: -353px; margin: auto; padding-left: 65px; color: white;}
    .bnrh{font-size: 59px; line-height: 65px; font-weight: 700; }
    .bnri{ font-size: 23px; color: white; background: green; border:none; font-size: 700; font-family: Oswald, sans-serif;}
    
}
.banner{
    position: sticky;
    top: 0px;
}
.sec2{background-color: white;margin-top: 300px;}
.nav{
   background-color: white;
   font-family:Oswald, sans-serif; ;
   font-size: 16px;
   line-height: 28px;
   font-weight:600 ;
   color: #59815b;
   margin-bottom: -63px;
   margin-top: -200px;
   border-bottom:1px solid rgb(221, 212, 212);
   .sec1i{font-size: 26px; margin-top: 5px;}
   .logo{width:300px; margin-left: -12px;
    height: 200px; position: relative;}
    .nvh{padding-top: 82px; padding-left: 190px; position: absolute;}
}
.wndr{top: -270px; width: 300px; height: 200px; position: relative; margin: auto;}
.sec3{position:relative; background-color: white;margin-top: -144px;}
.sec3txt{  font-family: Muli, sans-serif;
    
    .sec3h{font-size:59px ; font-weight: 700; line-height: 65px; color:#1e1e1e ;margin-top: 235px; margin-right: 20px;}
    .sec3p{line-height:26px ; font-weight:600 ; font-size:18px ;}
    
}
.sec3img{ overflow: hidden;
    .imgsec3{transition: all 0.5s ease;}
   .imgsec3:hover{transform: scalex(1.3);}
}
.sec4img{ overflow: hidden;
    .imgsec4{transition: all 0.5s ease;}
   .imgsec4:hover{transform: scalex(1.3);}
}
.sec4{position: relative; background-color: white;
    .sec4h6{font-size:21px ; font-weight:400 ; line-height:25px ;}
    .sec4h1{font-size:50px ; font-weight:700 ; line-height:56px ;}
    .sec4h12{font-size:29px ; font-weight:700; line-height:35px ;}
}
.sec5{margin-bottom: -48px; background-color: white; position: relative; font-size:80px ; font-weight:400 ; line-height:26px;  color:#878787; font-family: Muli, sans-serif;
    .sec5p{font-size:16px ; font-weight:400 ; line-height:26px;  color:#59815b;}
    .sec5h{font-size:18px ; font-weight:700 ; line-height:26px;  color:#1e1e1e;}

}
.sec6{position: relative; background-color: white;}
.sec7{ position: relative; background-color: white; margin-top: -49px;
    
    .sec7txt{
        padding-top: 75px;
        padding-left: 45px;
    }
    .sec7h{font-size:29px ; font-weight:700 ; line-height:35px;  color:#1e1e1e;}
    .sec7p{font-size:16px ; font-weight:600 ; line-height:26px;  color:#878787;}
    .btn7{font-size:23px ; font-weight:600 ; line-height:32px; color: #1e1e1e;background-color: white;}
    .btn7 i{font-size:26px ; font-weight:700 ; line-height:32px; color: #1e1e1e;background-color: white;} 
}
.fn{font-size:18px ; font-family:Crimson Text, serif ; font-weight:400 ; line-height:24px ; font-style:italic ;}
.fp{font-size:18px ; font-family:Muli, sans-serif ; font-weight:600 ; line-height:24px ; font-style:normal;}
.sec7img{ overflow: hidden;
    .imgsec7{transition: all 0.5s ease;}
   .imgsec7:hover{transform: scaley(1.3);}
}
.sec8{position: relative;margin-top: -25px;}

.top-btn{
    display: flex; justify-content: end;
   .arrow{font-size: 60px; position: fixed; bottom: 3rem; right: 1rem;
          animation: roshan 1.2s linear infinite alternate-reverse;}
          @keyframes roshan {
            0%{
                transform: translateY(-0.5rem);
            }
            100%{
                transform: translateY(1rem);
            }
            
          }
   &:hover{color: green;
  }
  }
  .fsec1{
    height: 221px;
  }
 
  .fimg{height: 140px; width: 140px;}
  .ftrp{padding-right: 220px;}
  .fh1{font-size:22px ; font-family: Oswald, sans-serif ; font-weight:700 ; line-height: 26px;} 
  .fp1{font-size:15px; font-family:Muli, sans-serif; font-weight:600; line-height:23px; font-style: normal;}
  .np1{border-top: none; border-right: none; width: 250px; font-size:18px ;font-weight: 400; font-style: italic; font-family: "Crimson Text", serif; }
  .npbtn{border: none; background: white;}
  .imgl{width:80px ; height: 80px;}
  .fsec2{background-color: rgb(236, 230, 230);}
  .xxxx i{padding: 5px;}
  